.outer-container {
  margin: auto;
}

header {
  background: url(images/header.jpg) 0 -300px no-repeat;
  height: 225px;
  position: relative;
}

header a:link,
header a:visited  {
  bottom: 0;
  color: #000000;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  left: 0;
  padding: 22px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

header a:hover {
  color: #0D3B4D;
}

nav ul {
  background: #000;
  margin: 0;
  padding: 0 30px;
}

nav li {
  background: #000000;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

nav li:hover {
 background: rgba(24, 62, 83, 1);
}

nav li a:link,
nav li a:visited {
  color: #eaeaea;
  font-weight: bold;
  line-height: 30px;
  padding: 15px;
  text-decoration: none;
}

nav li a:hover {
  color: #fefefe;
}

nav .category-list {
  display: none;
}

nav li:hover .category-list {
  display: block;
}

nav .category-list-item {
  display: block;
}

.content {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 30px;
}

footer {
  font-size: 12px;
  margin: 15px auto;
  text-align: center;
  width: 300px;
}

#sidebar {
  display: block;
  width: 15%;
}

.article-entry {
  padding: 0;
}