<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Entre uno y el mundo - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="outer-container">
      <header>
        <a href="/">Entre uno y el mundo</a>
      </header>
      <nav>
        <ul>
          <li class='active'><a href='/'>Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/stories">Microcuentos</a></li>
          <li><a href="/projects">Proyectos</a></li>
          <li><a href="/pads">Pads</a></li>
        </ul>
      </nav>
      <section class='content'>
        <%= yield %>
      </section>
      <footer>
       <a rel="license"
          href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
         <img alt="Creative Commons License"
            style="border-width:0"
            src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
       </a><br />
        This work is licensed under a <a rel="license"
          href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
      </footer>
    </div>
  </body>
</html>

